* {
    color: #26474E;
    font-family: 'Darker Grotesque';
}

header {
    background-color: #D29F8C;
}

.navDiv {
    display: flex;
}

.name-title {
    font-size: 60px;
    margin: 40px;
    margin-top: 0px;
    padding-top: 20px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-bottom: -10px;
}

.progress {
    padding-left: 40px;
    display: inline-block;
}

.progress-buffering {
    flex-direction: column;
    flex-wrap: wrap;
    display: inline-block;
    text-align: center;
}

body {
    margin: 0px;
    background-color: #faf9f9;
}

nav {
    padding-left: 20px;
    display: flex;
}

.socials-title {
    font-size: 3vw;
    font-style: italic;
    margin-left: 20px;
    color: #26474E;
    margin-top: 5px;
    margin-bottom: 5px;
}

.socialsDiv {
    display: flex;
    flex: 0 1 100%;
}

#linkedin,
#github,
#email {
    padding: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    font-size: 2vw;
    color: #26474E;
}

.image-bio {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.web-div {
    display: flex;
    float: left;
    flex-direction: row;
}

.web-development {
    border: 6px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 5px grey;
    width: 400px;
    height: auto;
    display: flex;
    margin: 2px;
    vertical-align: top;
    float: left;
}

figcaption {
    font-size: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 5px;
}

.bio-div {
    flex-direction: row;
    max-width: 500px;
    text-align: left;
}

.bio-title {
    font-size: 40px;
    font-style: italic;
    margin: 10px;
}

.bio {
    font-size: 20px;
    line-height: 25px;
}

.nutshell {
    display: flex;
    flex-wrap: wrap;
    background-color: #81B1CC;
}

.nutshell-list {
    list-style-type: none;
    padding-bottom: 10px;
    margin: auto; 
    display: flex;
}

.list {
    display: inline;
    font-size: 3vw;
    color: #26474E;
    padding: 20px;
}

a:link {
    color: #26474E;
    text-decoration: none;
}

a span:hover {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 40px;
    font-style: italic;
    margin: 10px;
}

.topics {
    display: flex;
    flex-direction: column;
}

.topic {
    display: flex;
    flex-direction: column;
}

.box {
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
    width: 80%;
    text-align: left;
    background-color: #D9D3D2;
    flex-direction: column;
    height: auto;
    display: flex;
    margin: auto;
}

.passwordScreenshot {
    width: 300px;
    float: right;
}

.project {
    font-size: 20px;
    text-align: left;
    font-weight: bolder;
}

.projectScreenshotDiv {
    display: flex;
}

.projectScreenshot {
    width: 400px;
}

.box-text {
    font-size: 1.5vw;
    line-height: 20px;
    text-align: center;
}

.icon {
    width: 100px;
    height: auto;
    display: flex;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}


footer {
    text-align: center;
    clear: both;
}

@media screen and (max-width: 900px) {
    .bio-div,
    .web-div {
        display: inline;
    }
}

@media screen and (max-width: 600px) {
    .nutshell-list {
        flex-direction: column;
        padding: 5px;
    }
    .nutshell {
        width: 200px;
    }
}